* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* :root {
  height: 100vh;
} */

html {
  font-family: "Inter", sans-serif;
  background-color: #F5F7FB;
  max-width: 500px;
  margin: 0 auto;
  height: 100vh;
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 20px;
  text-align: center;
}

h1 {
  font-family: "Karla", sans-serif;
  font-size: 1.9375rem;
  color: #4D5B9E;
}

.intro {
  margin-top: 1em;
  font-size: 1.125rem;
  color: #4D5B9E;
}

.start {
  margin-top: 2em;
  background-color: #4D5B9E;
  color: #F5F7FB;
  font-family: inherit;
  border: none;
  padding: 1em 3em;
  border-radius: 10px;
  font-size: 1.2rem;
}

.questions {
  color: #293264;
  font-size: 1rem;
}

.answers-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid rgba(108, 122, 137, 0.5);
  padding-bottom: 1rem;
}

.each-answer {
  font-size: 0.8em;
  border: 1px solid #293264;
  border-radius: 10px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin: 1rem 0.5rem;
}

.each-answer.selected {
  background-color: #4D5B9E;
  color: #F5F7FB;
  border: none;
}

input[type=radio]{
  width: 0;
  opacity: 0;
  position: absolute
}

label {
  padding: 0.5rem 2rem;
}

.each-answer.selected{
  background-color: #4D5B9E;
  color: #F5F7FB;
  cursor: pointer;
  border-radius: 10px;
}

label:hover{
  cursor: pointer;
}

.quizz-container {
  margin: 2em 0.5em;
}

.check-answers {
  background-color: #4D5B9E;
  border-radius: 10px;
  padding: 1em 2em;
  font-size: 1.2rem;
  border: none;
  color: #F5F7FB;
}

.each-answer.picked {
  background-color: #94D7A2 ;
  color: #293264;
  border: none; /* or any color for picked answers */
}

.each-answer.correct {
  background-color: #F8BCBC;
  color: #293264;
  border: none; /* or any color for correct answers */
}

.score-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 2em; */
  /* height: 100vh;
  padding: 0 20px;
  text-align: center; */
}

.remaining-questions{
  color: red;
  margin-right: 1rem;
}